<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <main>
        <!-- By default, method of <form> is get. Hence, we can see data in URL -->
        <!-- action: shows which endpoint/API to hit on submit -->
        <form method="post" action="">
            <h1>Contact Now</h1>
            <input type="text" name="name"  id="name" placeholder="Name">
            <input type="email" name="email" id="email" placeholder="Email">
            <button type="submit">Send Message</button>
        </form>
    </main>

   
    
</body>
</html>