<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <h1>This is a file</h1>
    <h2> This is very simple</h2>
    <h3>Hello <%=name %></h3>
    <h3>Hello <%= locals.name %>, this is the best practice to render data as it does not give error if name is not defined</h3>
    
</body>
</html>